body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: teal;
    animation: 3s body ease-in-out infinite;
}
@keyframes body {
    0%{
        opacity: 1;
    }
    50%{
        background-color: red;
    }
}

.imgh1{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    animation: 2s img ease-in-out;
    height: 150px;
}
@keyframes img {
    0%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(0px);
    }
}

h1{
    text-align: center;
    font-family: cursive;
    font-size: 4rem;
    color: white;
}

h3{
    text-align: center;
    font-family: cursive;
    font-size: 2.5rem;
    color: white;
    animation: 2s h3 ease-in-out;
}
@keyframes h3 {
    0%{
        transform: translateX(-1300px);
    }
    100%{
        transform: translateY(0px);
    }
}

#one{
    text-align: center;
    font-family: cursive;
    font-size: 1.5rem;
    font-weight: bold;
    color: darkblue;
    cursor: pointer;
    border-radius: 50px;
    padding-top: 10px;
    background-color: white;
    width: 120px;
    height: 80px;
    margin: auto;
    transition: 1s;
    animation: 2s btn ease-in-out;
}

@keyframes btn {
    0%{
        transform: translateY(-500px);
    }
    100%{
        transform: translateY(0px);
    }
}

#one:hover{
    background-color: yellow;
    color: black;
}

.vic{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin: auto;
    width: 300px;
}

#two{
    text-align: center;
    font-family: cursive;
    font-size: 1.5rem;
    font-weight: bold;
    color: darkblue;
    cursor: pointer;
    border-radius: 50px;
    padding-top: 10px;
    background-color: white;
    width: 120px;
    height: 80px;
    margin: auto;
    transition: 1s;
    animation: 2s btn ease-in-out;
}

#two:hover{
    background-color: yellow;
    color: black;
}

@media (max-width:768px){
    .imgh1{
        justify-content: space-evenly;
        align-items: center;
        display: flex;
    }

    .img1{
        width: 150px;
        height: 150px;
        margin-left: 30px;
    }

    .img11{
        width: 150px;
        height: 150px;
    }
    
    h1{
        text-align: center;
        font-family: cursive;
        font-size: 2.5rem;
        color: white;
    }
    
    h3{
        text-align: center;
        font-family: cursive;
        font-size: 1.5rem;
        color: white;
    }
    #div2{
        margin: auto;
        margin-top: 130px;
    }
    .rate{
        width: 100vw;
        margin: auto;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(5,5fr);
        gap: 2px;
    }
}


#div3{
    display: none;
}

#div2{
    width: 400px;
    height: 100%;
    margin: auto;
    border-radius: 10px;
    animation: 2s div ease-in-out;
}

@keyframes div {
    0%{
        transform: translateY(-800px);
    }
    100%{
        transform: translateY(0px);
    }
}

.main1{
    margin: auto;
    height: 50px;
    width: 400px;
    background-color: blueviolet;
    border-radius: 10px;
    margin-top: -25px;
}

h4{
    color: white;
    font-size: 1.5rem;
    font-family: cursive;
    padding-top: 7px;
    text-align: center;
}

.main2{
    margin: auto;
    margin-top: 5px;
    height: 250px;
    width: 400px;
    background-color: rgb(203, 236, 14);
    border-radius: 10px;
}

.aero{
    margin-left: 80px;
}

.main3{
    margin: auto;
    height: 50px;
    width: 400px;
    background-color: blueviolet;
    border-radius: 10px;
    margin-top: -35px;
}

h5{
    color: white;
    font-size: 1.5rem;
    font-family: cursive;
    padding-top: 7px;
    text-align: center;
}

.main4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 50px;
    background-color: rgb(151, 6, 180);
    margin-top: 5px;
    border-radius: 10px;
}

button{
    height: 30px;
    width: 80px;
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: darkblue;
    cursor: pointer;
    transition: 1s;
}
button:hover{
    background-color: aqua;
}

.imgbt{
    height: 20px;
    width: 20px;
}

.btns{
    width: 400px;
    height: 50px;
    background-color: white;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#div4{
    display: none;
}

.rate{
    width: 98vw;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(10,10fr);
    gap: 2px;
}

.sew{
    height: 90px;
    width: 110px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: cursive;
    color: darkblue;
    cursor: pointer;
    transition: 1s;
}

.sew:hover{
    background-color: yellow;
    color: black;
}

header{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin: auto;
    width: 500px;
}

@media (max-width:768px) {
    .rate{
        width: 100vw;
        margin: auto;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(5,5fr);
        gap: 1px;
    }
}
